<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Spring Boot로 게시판 만들기</title>
  <meta content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 480px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
  </style>
</head>
<body>
<script>
  	function page(pageNum){ //해당 페이지 번호로 이동
  		location.href="/freeboard?pageNum="+pageNum;
  	}
  	
  	function getView(freeid){
  		location.href="/freeBoardInfo?freeId="+freeid;
  		
  		//location.replace("freeboardInfo.html");
  		//location.href="/freeBoardInfo/freeId/"+freeid;
  	}
  	
  	function getBoard(freeid){
  		location.href="/api/freeboardInfo?freeId="+freeid;
  	}

  	function infoFreeboard(freeid){
  		console.log(typeof(freeid));
  		
  		$.ajax({
  			type:"GET",
  	  		url:"/freeBoardInfo", 
  	  		data: {"freeId" : freeid},
  	  		success:function(data){
  	  			if(data == "freeboardInfo"){
  	  				//location.replace("freeboardInfo.html");
  	  				//location.replace(resdata+".html");
  	  				//location.href="/freeBoardInfo?freeId="+freeid;
  	  			}
  	  			else{
  	  				console.log(data);
  	  				alert("해당 게시글이 없습니다.");
  	  			}
  	  		},
  	  		error:function(request, error){
  	  			console.log(request);
  	  			alert("message: "+request.responseText);
  	  		}
  	  	});	
  	
  	}

</script>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/">SungYoonJOE</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li th:if="${session.loginUser!=null}"><a href="/freeboard">게시판</a></li> 
      </ul>
      <ul class="nav navbar-nav navbar-right">
      <!-- <a href="/updatePage">회원정보 수정</a><br/><br/><br/> -->
        <li th:if="${session.loginUser==null}"><a href="/joinPage"><span class="glyphicon glyphicon-log-in"></span> 회원가입</a></li>
        <li th:if="${session.loginUser==null}"><a href="/loginPage"><span class="glyphicon glyphicon-log-in"></span> 로그인</a></li>
        <li th:if="${session.loginUser!=null}"><a href="/updateInfoPage"><span class="glyphicon glyphicon-log-in"></span> 회원정보수정</a></li>
        <li th:if="${session.loginUser!=null}"><a href="/logoutPage"><span class="glyphicon glyphicon-log-in"></span> 로그아웃</a></li>
      </ul>
    </div>
  </div>
</nav>
  
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-1 sidenav">
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
    </div>
    <div class="col-sm-9 text-left"> 
      <h3>게시판</h3>
      <a href="/freeboardWritePage">글쓰기</a>
      <table>
      	<thead>
      		<tr>
      			<th>&nbsp;&nbsp;글 번호&nbsp;&nbsp;</th>
      			<th>&nbsp;&nbsp;글 제목&nbsp;&nbsp;</th>
      			<th>&nbsp;&nbsp;글 작성자&nbsp;&nbsp;</th>
      		</tr>
      		<th:block th:if="${session.boardList!=null}">
      			<th:block th:each="board:${session.boardList}">
	      			<tr>
		      			<td><span th:text="${board.getFreeid()}"></span></td>
		      			<td><a th:onclick="|javascript:getView('${board.getFreeid()}')|" th:text="${board.getTitle()}"></a></td>
		      			<td><span th:text="${board.getWriter()}"></span></td>
	      			</tr>
      			</th:block>
      		</th:block>
      	</thead>
      </table>
      
    <!-- 페이지 번호 -->
     <a th:if="${session.pageMaker.isPrev()}"
      style="text-decoration: none;"
      th:onclick="|javascript:page('${session.pageMaker.getStartPage()}')|">&laquo;</a>
            <th:block
               th:each="pageNum:${#numbers.sequence(session.pageMaker.getStartPage(),session.pageMaker.getEndPage())}">
               &nbsp;<a th:text="${pageNum}"
                  th:onclick="|javascript:page('${pageNum}')|"></a>&nbsp;
           </th:block>
            <a th:if="${session.pageMaker.isNext()}"
               style="text-decoration: none;"
               th:onclick="|javascript:page('${session.pageMaker.getEndPage()}')|">&raquo;</a>   
    </div>
    <div class="col-sm-2 sidenav">
      <div class="well">
        <p>ADS</p>
      </div>
      <div class="well">
        <p>ADS</p>
      </div>
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer>
<script>

</script>
</body>
</html>
