 
<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>My Board</title>
		<link rel ="stylesheet" href="https://cdnjs.cloudf">
	</head>
	<body>
		<form action="/joinRequest" method="POST">
			아이디 : <input type="text" name="user_id"></input><br/><br/>
			비밀번호 : <input type="password" name="user_pw"></input><br/><br/>
			이름 : <input type="text" name="user_name"></input><br/><br/>
			<input type="submit" value="가입하기"></input>
		</form>
	
	</body>
	<script src= "https://unpkg.com/exios/dist/axios.min.js"></script>
	<!--<script src= "https://vuejs.org/js/vue.js"></script>-->
	<script src= "https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
</html>
